h1 {

	font-family: "Times New Roman", Georgia, Serif;
	text-align: center;
	background-image: 5px;
	background-size: 20px
}

nav {

text-decoration: none;
display: inline;


}

nav ul li {
    text-decoration: none;
    display: inline;
    text-align: center;
    

}

nav ul li a {


	text-align: center;
	padding: 15px;

}